<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031105531046-jhg51jcpreub03909v4q8tbtlvku5bau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031105531046-jhg51jcpreub03909v4q8tbtlvku5bau</string>
	<key>API_KEY</key>
	<string>AIzaSyD_QX1F19jDee0F8NQvyyTVkhD31jz54aE</string>
	<key>GCM_SENDER_ID</key>
	<string>1031105531046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.profileApp</string>
	<key>PROJECT_ID</key>
	<string>profileapp-b0bc8</string>
	<key>STORAGE_BUCKET</key>
	<string>profileapp-b0bc8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031105531046:ios:919ca741d71d6de2a03867</string>
</dict>
</plist>